#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Eggs Maker
Comment=Aplicación para crear y gestionar imágenes ISO con Eggs
Exec=/opt/eggsmaker/eggsmaker.bin
Icon=/opt/eggsmaker/assets/eggsmaker.png
Terminal=false
Type=Application
Categories=Utility;Development

